<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Cambiar Data Source segun la PC: .\SQLEXPRESS, (localdb)\MSSQLLocalDB o servidor de la facultad -->
    <add name="Facturacion"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FacturacionTP1;Integrated Security=True;TrustServerCertificate=True;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
